* {
  box-sizing: border-box;
}

:root {
  /* definición variable */
  --main-primary-color: #4C4AE6;
  --secondary-font-color: #fff;
  font-size: 16px;
}
body {
  font-size: 16px;
}
.footer {
  text-align: center;
  font-style: italic;
  /* 1. margin */
  /* margin-top: 20px;
  margin-left: 20px;20px;
  margin-right: 
  margin-bottom: 20px; */
  /* T - R - B - L */
  /* margin: 10px 30px 25px 60px; */
  /* Y - X */
  /* margin: 10px 30px; */
  /* Todos */
  /* margin: 10px; */
  /* margin: 10px 30px 25px; */
  /* 2. border */
  /* border: 2px solid red; */
  /* border-radius: 50%; */
  /* 3. padding */
  padding: 1rem;
  font-size: 1rem;
  /* 1em -> 16px */
  /* 1rem -> 16px */
}

.absolute-font {
  padding: 16px;
  font-size: 16px;
}

.hide {
  display: none;
}

.main-bg {
  background-color: var(--main-primary-color);
  color: var(--secondary-font-color);
}

/* --- navbar --- */
.navbar {
  padding: 10px 20px;
  /* position: fixed; */
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.navbar .image-container {
  width: 50px;
}

.navbar .image-container img {
  width: 100%;
}

.navbar .app-title {
  color: var(--secondary-font-color);
  text-decoration: none;
  font-size: 2rem;
}

.search-form h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.search-form .form-group {
  display: flex;
  flex-direction: column;
}

.search-form .form-group .search-label {
  margin-bottom: 10px;
}

.search-form input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.search-form input[type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
  /*transition: background-color 0.3s linear;*/
  margin: 10px 0;
}

@media print {
  body {
    color: red !important;
  }
}

/*
@media screen and (max-width:400px) {
  .navbar .image-container {
    display: none;
  }

  .navbar {
    justify-content: flex-end;
  }
}
*/

/*Hacemos siempre mobile first*/
.navbar .image-container {
  display: none;
}

.navbar {
  justify-content: flex-end;
}

.search-form {
  max-width: 600px;
}

.main-content {
  width: 90%; /*width relativo */
  margin: 0 auto; /*Permite centrar el main en mobile y con responsive*/
  max-width: 1220px; /*Limita el máximo para quedar más elegante*/
}

.carousel-slides {
  width: 100%;
  height: 30vh; /*Da el alto del contenedor*/
  display: flex;
  /*A generar un flex, va a poner los elementos
  uno al lado del otro.
  Ahora ponemos la dirección column, para que los
  apile, en vez de estar en horizontal.
  Después le decimo que queremos que haga 
  wrap, para que ocupen el espacio indicado
  (100% en el hijo de anchura) y que el resto
  sobresalga.
  Depués le decimos que, lo que sobresalga lo
  oculte, para que no tengamos scroll.
  Por último ponemos un comportamiento del
  scroll como suave, para que la transición
  cuando pulsemos los botones, sea suave.*/
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel-slides > div {
  width: 100%;
  background-color: rgb(59, 59, 59);
  color: var(--secondary-font-color);
  height: 100%;
}

.carousel-links {
  display: flex;
  justify-content: center;
}

.carousel-dot {
  background-color: black;
  width: 16px;
  height: 16px;
  display: block; /*para que salgan, sino serán inline y no saldrán*/
  border-radius: 50%;
  margin: 10px;
}

.content {
  margin-bottom: 10px;
}

.anime-content .show-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.anime-content .show-items .img-container {
  width: 100%;
}

.anime-content .show-items .img-container img {
  width: 100%;
}

@media screen and (min-width: 768px){
  .navbar .image-container {
    display: block;
  }
  
  .navbar {
    justify-content: space-between;
  }

  .content {
    display: flex;
    justify-content: space-between;
  }
  .sidebar{
    width: 25%;
  }
  .anime-content {
    width: 70%;
  }

  .anime-content .show-items {
    grid-template-columns: repeat(5, 1fr);
  }
  /*Transitions*/
  .search-form input[type="submit"] {
    transition: background-color 0.3s ease-in;    
  }
  .search-form input[type="submit"]:hover {
    background-color: rgb(164, 164, 218);  
  }
}


.search-form input[type="submit"] {
  animation: example 10s linear infinite;
}

/*Animaciones*/

@keyframes example {
  0% {
    width: 0;
    opacity: 0;
  }
  20% {
    width: 400px;
    opacity: 1;
  }
  70% {
    background-color: red;
    width: 150px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}




